<?xml version="1.0"?>
<!--
/**
 * Created by Magentix
 * Based on Module from "Excellence Technologies" (excellencetechnologies.in)
 *
 * @category   Magentix
 * @package    Magentix_Fee
 * @author     Matthieu Vion (http://www.magentix.fr)
 * @license    This work is free software, you can redistribute it and/or modify it
 */
-->
<config>
    <modules>
        <Magentix_Fee>
            <version>0.1.5</version>
        </Magentix_Fee>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>fee/sales_quote_address_total_fee</class>
                        <renderer>fee/checkout_totals_fee</renderer>
                        <admin_renderer>fee/adminhtml_sales_order_create_totals_fee</admin_renderer>
                    </fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_invoice_fee</class>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_creditmemo_fee</class>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>fee/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>fee/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>fee/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount>
                    <to_order>*</to_order>
                </fee_amount>
                <base_fee_amount>
                    <to_order>*</to_order>
                </base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <fee translate="title">
                    <title>Fee</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </fee>
            </totals>
        </pdf>
        <resources>
            <fee_setup>
                <setup>
                    <module>Magentix_Fee</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fee_setup>
        </resources>
        <models>
            <fee>
                <class>Magentix_Fee_Model</class>
            </fee>
        </models>
        <blocks>
            <fee>
                <class>Magentix_Fee_Block</class>
            </fee>
        </blocks>
        <helpers>
            <fee>
                <class>Magentix_Fee_Helper</class>
            </fee>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <fee>
                    <file>fee.xml</file>
                </fee>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <fee>
                    <file>fee.xml</file>
                </fee>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <fee>15</fee>
            </totals_sort>
        </sales>
    </default>
</config>